/*------------------------------
 *
 * Common page components (header, footer, navigation)
 *
 *------------------------------*/

/* Tweaks for header and footer */
.brand {
  margin-left: -3px;
}
.brand-claim {
  position: relative;
  top: 4px; /* to align with logo text */
}
.top-nav {
  margin-right: -3px;
}

.vcard {
  br {
    display: none;
  }
  .address:before {
    content: " – ";
  }
}
