.section-hero {

  .blurb {
    max-width: 355px;

    .button--large {
      margin-left: -5px;
      margin-right: 3px;
    }
  }

}

.landing {

  .section-hero {

    .blurb {
      max-width: 25em;
    }

    .small-2 {
      font-size: 16.6px;
    }

    @media (max-width: 1280px) {
      .media-img {
        width: 45%;
      }
    }
  }

}